### Download and install MongoDB
https://www.mongodb.com/try/download/community?

### Download and install MongoDB Compass
https://www.mongodb.com/try/download/compass

### Install pymongo in anaconda prompt
python -m pip install pymongo

In [1]:
import pymongo

## Create a DB

In [3]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
DB_NAME = "MachineLearning"

# Establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

# Create a Database
dataBase = client[DB_NAME]

In [4]:
# See the existing list of DBs

client.list_database_names()

['admin', 'config', 'datascience', 'local']

In [7]:
# Verify whether we have our database in the list or not

def checkExistence_DB(DB_NAME, client):
    DBlist = client.list_database_names()
    if DB_NAME in DBlist:
        print(f"DB: '{DB_NAME}' exists")
        return True
    
    print(f"DB: '{DB_NAME}' not yet present or no collection is present in the DB")
    return False

_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'MachineLearning' not yet present or no collection is present in the DB

## Create a Collection

In [8]:
COLLECTION_NAME = "ML_Products"
collection = dataBase[COLLECTION_NAME]

In [11]:
# Lets verify whether we have our database collection name in the list or not

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    collection_list = db.list_collection_names()
    if COLLECTION_NAME in collection_list:
        print(f"COLLECTION: '{COLLECTION_NAME}' in Database: '{DB_NAME}' exists")
        return True
              
    print(f"COLLECTION: '{COLLECTION_NAME}' in Database: '{DB_NAME}' doesnot exists")
    return False
          
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

COLLECTION: 'ML_Products' in Database: 'MachineLearning' doesnot exists

## Insert a record in the collection

In [12]:
record = {'companyName': 'RajbanshiGroup',
           'product': 'Affordable AI',
            'courseOffered': 'Deep Learning for Computer Vision'
         }
collection.insert_one(record)

In [13]:
# Verify COLLECTION
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

COLLECTION: 'ML_Products' in Database: 'MachineLearning' exists

In [14]:
# Verify DATABASE
_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'MachineLearning' exists

## Insert Multiple Records

In [16]:
list_of_records = [
    {'companyName': 'RajbanshiGroup',
           'product': 'Affordable ML',
            'courseOffered': 'Data Science for Beginners'
         },
    {'companyName': 'RajbanshiGroup',
           'product': 'Affordable AI',
            'courseOffered': 'Deep Learning for NLP'
         },
    {'companyName': 'RajbanshiGroup',
           'product': 'Affordable Data Science',
            'courseOffered': 'Machine Learning and Deep Learning '
         },
    {'companyName': 'RajbanshiGroup',
           'product': 'Affordable BlackBelt Course',
            'courseOffered': '150 hours of ML/DL classes'
         }
]

rec = collection.insert_many(list_of_records)

In [17]:
# Lets print the unique ID that of the record that we have inserted

inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}.{unique_ids}")

0.5f7d628d8128708336299e95
1.5f7d628d8128708336299e96
2.5f7d628d8128708336299e97
3.5f7d628d8128708336299e98

In [18]:
# You can override the default unique Id by giving a user defined

COLLECTION_NAME = 'ML_Sections'
sections = dataBase[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"_id": "1",
     "companyName": "RajbanshiGroup",
     "Section": "section-1"},
    {"_id": "2",
     "companyName": "RajbanshiGroup",
     "Section": "section-2"}
]

section_record =  sections.insert_many(list_of_records_user_defined_id)

In [20]:
# You can override the default unique Id by giving a user defined

COLLECTION_NAME = 'ML_Faculties'
faculties = dataBase[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"_id": "1",
     "companyName": "RajbanshiGroup",
     "Faculty": "ML"},
    {"_id": "2",
     "companyName": "RajbanshiGroup",
     "Faculty": "DL"}
]

section_record =  faculties.insert_many(list_of_records_user_defined_id)

## Find Method in MongoDB

In [24]:
find_first_record = faculties.find_one()

print(f"The first record of collection: \n {COLLECTION_NAME} is = \n {find_first_record}")

The first record of collection:
 ML_Faculties is =
 {'_id': '1', 'companyName': 'RajbanshiGroup', 'Faculty': 'ML'}

In [25]:
# Find all the record at once present in the record with all the fields
all_record = faculties.find()

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'companyName': 'RajbanshiGroup', 'Faculty': 'ML'}
1: {'_id': '2', 'companyName': 'RajbanshiGroup', 'Faculty': 'DL'}

In [29]:
all_record = faculties.find({}, {"Faculty"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'Faculty': 'ML'}
1: {'_id': '2', 'Faculty': 'DL'}

## Query or filter out data in MongoDB

In [30]:
query1 = {"_id": '1'}

results = faculties.find(query1)
for data in results:
    print(data)

{'_id': '1', 'companyName': 'RajbanshiGroup', 'Faculty': 'ML'}

In [39]:
query2 = {"_id": {"$gt": '1'}}

results = faculties.find(query2)
for data in results:
    print(data)

{'_id': '2', 'companyName': 'RajbanshiGroup', 'Faculty': 'DL'}
{'_id': '7', 'companyName': 'RajbanshiGroup', 'Faculty': 'XYZ'}
{'_id': '8', 'companyName': 'RajbanshiGroup', 'Faculty': 'XYZ'}
{'_id': '9', 'companyName': 'RajbanshiGroup', 'Faculty': 'XYZ'}

## Delete one or many documents in MongoDB

In [36]:
# Let's add some random data in faculties

random_data = [
    {'_id': '7', 'companyName': 'RajbanshiGroup', 'Faculty': 'XYZ'},
    {'_id': '8', 'companyName': 'RajbanshiGroup', 'Faculty': 'XYZ'},
    {'_id': '9', 'companyName': 'RajbanshiGroup', 'Faculty': 'XYZ'},
]

faculties.insert_many(random_data)

In [37]:
# Let's delete one document in faculties
query_to_delete = {"Faculty": "XYZ"}

faculties.delete_one(query_to_delete)

In [40]:
# Let's delete multiple record
multi_query_to_delete = {"_id": {"$gte": "4"}}

faculties.delete_many(multi_query_to_delete)

In [41]:
## In order to delete all the documents present in the collection

# faculties.delete_many({})

## Drop the entire collection

In [42]:
faculties.drop()

In [43]:
# Let's verify if the collection exists or not after dropping it

COLLECTION_NAME = "ML_Faculties"
DB_NAME = "MachineLearning"
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db =dataBase)

COLLECTION: 'ML_Faculties' in Database: 'MachineLearning' doesnot exists

## Update data

In [44]:
COLLECTION_NAME = "ML_Products"
products = dataBase[COLLECTION_NAME]

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('5f7d60908128708336299e94'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision'}

{'_id': ObjectId('5f7d628d8128708336299e95'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable ML', 'courseOffered': 'Data Science for Beginners'}

{'_id': ObjectId('5f7d628d8128708336299e96'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP'}

{'_id': ObjectId('5f7d628d8128708336299e97'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable Data Science', 'courseOffered': 'Machine Learning and Deep Learning '}

{'_id': ObjectId('5f7d628d8128708336299e98'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable BlackBelt Course', 'courseOffered': '150 hours of ML/DL classes'}

In [45]:
# update data
present_data = {'courseOffered': 'Data Science for Beginners'}
new_data = {"$set": {'courseOffered': 'Data Science in Advanced'}}

In [47]:
products.update_one(present_data, new_data)

In [48]:
all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('5f7d60908128708336299e94'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision'}

{'_id': ObjectId('5f7d628d8128708336299e95'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable ML', 'courseOffered': 'Data Science in Advanced'}

{'_id': ObjectId('5f7d628d8128708336299e96'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP'}

{'_id': ObjectId('5f7d628d8128708336299e97'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable Data Science', 'courseOffered': 'Machine Learning and Deep Learning '}

{'_id': ObjectId('5f7d628d8128708336299e98'), 'companyName': 'RajbanshiGroup', 'product': 'Affordable BlackBelt Course', 'courseOffered': '150 hours of ML/DL classes'}

In [49]:
present_data = {'companyName': 'RajbanshiGroup'}
new_data = {"$set": {'companyName': 'RajbanshiCompany'}}

In [50]:
products.update_many(present_data, new_data)

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('5f7d60908128708336299e94'), 'companyName': 'RajbanshiCompany', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision'}

{'_id': ObjectId('5f7d628d8128708336299e95'), 'companyName': 'RajbanshiCompany', 'product': 'Affordable ML', 'courseOffered': 'Data Science in Advanced'}

{'_id': ObjectId('5f7d628d8128708336299e96'), 'companyName': 'RajbanshiCompany', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP'}

{'_id': ObjectId('5f7d628d8128708336299e97'), 'companyName': 'RajbanshiCompany', 'product': 'Affordable Data Science', 'courseOffered': 'Machine Learning and Deep Learning '}

{'_id': ObjectId('5f7d628d8128708336299e98'), 'companyName': 'RajbanshiCompany', 'product': 'Affordable BlackBelt Course', 'courseOffered': '150 hours of ML/DL classes'}

## Set limit to view N records

In [51]:
N_records = 3

N_record = products.find().limit(N_records)

for idx, record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('5f7d60908128708336299e94'), 'companyName': 'RajbanshiCompany', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision'}

{'_id': ObjectId('5f7d628d8128708336299e95'), 'companyName': 'RajbanshiCompany', 'product': 'Affordable ML', 'courseOffered': 'Data Science in Advanced'}

{'_id': ObjectId('5f7d628d8128708336299e96'), 'companyName': 'RajbanshiCompany', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP'}